ul {
  list-style: none;
  padding-left: 0px;
}
li {
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}
.panelcontent {
  border: 1px solid black;
}
